html, body {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica Neue', sans-serif; 
  color: white;
  font-weight: 50;
  font-size: 17pt;
  line-height: 8pt;
  letter-spacing: 1px;
  background-color: black;
}
canvas {
  display: block;
}
button {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 50; 
  color: white;
  font-size: 12pt;
}
h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 50;
  font-size: 40px;
  color: black;
}
