html, body {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica Neue', sans-serif; 
  background-color: #ffffff;
  color: #030303;
  font-size: 12pt;
  line-height: 8pt;
  letter-spacing: 1px;
  background-color: #ffffff;
}

canvas {
  display: block;
}

button {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100; 
}
h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 75px; 
  color: #030303; 
}
